@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

// light configuration
$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent:  mat-palette($mat-green);
$my-theme-warn:    mat-palette($mat-red);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

// dark configuration
$my-dark-theme-primary: mat-palette($mat-purple);//mat-palette($mat-lime, 500);
$my-dark-theme-accent:  mat-palette($mat-pink);//mat-palette($mat-lime, 500, A200, A400);
$my-dark-theme-warn:    mat-palette($mat-red);//mat-palette($mat-red, 500);

$my-dark-theme: mat-dark-theme(
    $my-dark-theme-primary,
    $my-dark-theme-accent,
    $my-dark-theme-warn
);

