<div>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div>
          <h1>
            MIRAI
          </h1>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
          <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
              <button mat-icon-button [matMenuTriggerFor]="menuColor">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuColor="matMenu">
                <button mat-menu-item disabled>
                  <mat-icon>color_lens</mat-icon>
                  <span>Color</span>
                </button>
                <button mat-menu-item (click)="changeTheme('my-theme')">
                  <mat-icon [ngStyle]="{'color':'#3f51b5'}">brightness_1</mat-icon>
                  <span>Light Theme</span>
                </button>
                <button mat-menu-item (click)="changeTheme('my-dark-theme')">
                    <mat-icon [ngStyle]="{'color':'#9c27b0'}">brightness_1</mat-icon>
                    <span>Dark Theme</span>
                  </button>
              </mat-menu>
            </li>
          </ul>
        </div>
      </mat-toolbar>
      <country>
      </country>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>